modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"
packages = ["openjdk17"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Farmacia App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "java_compile_run"

[[workflows.workflow]]
name = "Farmacia App"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd $REPL_HOME && javac -d . src/farmacia/*.java src/farmacia/*/*.java && java farmacia.Aplicacao"

[[workflows.workflow]]
name = "java_compile_run"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && javac farmacia/Aplicacao.java && java farmacia.Aplicacao"

[deployment]
run = ["sh", "-c", "cd $REPL_HOME && javac -d . src/farmacia/*.java src/farmacia/*/*.java && java farmacia.Aplicacao"]
